[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
pandas = "*"
numpy = "*"
regex = "*"
textblob = "*"
googletrans = "==3.1.0a0"
httpx = "*"
nltk = "*"
seaborn = "*"
sklearn = "*"
matplotlib = "*"
tkinter-math = "*"
jupyterlab = "*"
keras-nightly = "*"
emoji = "*"
tensorflow = "*"
mongopy = "*"
pymongo = "*"
mongoengine = "*"
tqdm = "*"
colorama = "*"
python-dateutil = "*"
DateTime = "*"
Owlready2 = "*"
Cython = "*"
PyQt5 = "*"

[dev-packages]

[requires]
python_version = "3.9"
