[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
pandas = "*"
numpy = "*"
regex = "*"
datetime = "*"
textblob = "*"
owlready2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
