[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
pandas = "*"
numpy = "*"
regex = "*"
datetime = "*"
textblob = "*"
owlready2 = "*"
googletrans = "==3.1.0a0"
httpx = "*"
cython = "*"
nltk = "*"
seaborn = "*"
sklearn = "*"
matplotlib = "*"
tensorflow = "*"
tkinter-math = "*"
pyqt5 = "*"
jupyterlab = "*"
keras-nightly = "*"
emoji = "*"

[dev-packages]

[requires]
python_version = "3.9"
